// Colors
$color-primary: #717744;
$color-light-primary: #f1e8b8;
$color-dark-primary: #0e3b43;
$color-secondary: #a26769;
$color-dark-secondary: #3c1518;

// Spacing
$spacing-quark: 4px;
$spacing-nano: 8px;
$spacing-xxxs: 16px;
$spacing-xxs: 20px;
$spacing-xs: 24px;
$spacing-small: 40px;
$spacing-medium: 48px;
$spacing-large: 56px;
$spacing-xl: 64px;
$spacing-xxl: 80px;

// Fonts
$font-primary: 'DM Sans', sans-serif;

// Screens
$screen-xs: 360px;
$screen-sm: 480px;
$screen-md: 720px;
$screen-lg: 960px;
$screen-xl: 1140px;